.signupJumbotron{
  background-color: #ffffff;
  margin: auto;
  width: 25%;
  text-align: center;
  border-radius: 5%;
}

.buttonRow{
  margin: 10px
}
.label{
  margin: 1px
}
.loginForm{
  padding: 5px
}
