.jumbotron{
  background-color: #ffffff;
  margin: auto;
  width: 25%;
  text-align: center;
  border-radius: 5%;
}
.container{
  margin-top: 25%;
  padding-bottom: 25px 
}
.buttonRow{
  margin: 10px
}
.label{
  margin: 1px
}
.loginForm{
  padding: 5px
}
.Col{
  width: 45%;
  margin: none
}