.loginJumbotron{
  background-color: #ffffff;
  width: 25%;
  text-align: center;
  border-radius: 5%;
  margin: auto;
}
.container{
  padding-bottom: 25px 
}
.buttonRow{
  margin: 10px
}
.label{
  margin: 1px
}
.loginForm{
  padding: 5px
}
